<h1> Please Sign Up Below to Get Started!</h1>
<br>
<hr>
<br>

<form action="/signup" method="POST" >
  <label><strong>Username:</strong><input type = "text" name="username"><br><br>
  <label><strong>Email:</strong><input type = "email" name="email"><br><br>
  <label><strong>Password:</strong><input type="password" name="password"><br><br>

  <button type="submit" value="submit">Sign Up</button>
</form>