<h1> Welcome to the My Wishlist App</h1>
<h2> Please Sign Up Below to Get Started!</h2>


<form action="/signup" method="POST">
	<label>Username: </label> <br>
    <input type="text" name="username" placeholder="Username:"><br><br>
	<label>Email: </label> <br>
    <input type="email" name="email" placeholder="Email:"><br><br>
	<label>Password: </label> <br>
    <input type="password" name="password" placeholder="Password:"><br><br>
    <input type="submit" value="Sign Up">
</form>