<h2> <%=@wishlist.name%> </h2>

    <%@wishlist.items.each do |item|%>    
        <p><%=item.quantity%> <%=item.name%> </p>
    <% end %>

<a href= "/wishlists/<%=@wishlist.id%>/edit"><button> Edit Wishlist </button></a><br><br>

</form>    
    <a href= "#"><button> Delete Wishlist </button></a>
</form>