<div class= "content">
  <img src="images/wishlist-image.jpg"></img>
  <div class="col-md-8 col-md-offset-2">
    <h2 style= "color:purple;">Welcome to the My Wishlist App!</h2>

    <div>
      <p>What would you like to do?</p>
      <a href="/signup"><button>Sign Up</button></a>
      <a href="/login"><button>Log In</button></a>      
    </div>
</div>

